compile
.Rproj.user/
.Rhistory
exercises/exercise-1/compile
exercises/exercise-2/exercise-2_cache/
exercises/exercise-2/exercise-2_files/
exercises/exercise-2/compile
exercises/exercise-2/scratch.R
exercises/exercise-3/exercise-3_cache/
exercises/exercise-3/exercise-3_files/
exercises/exercise-3/get-data.R
exercises/exercise-3/compile
